/*recursos import*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/*font-family: 'Roboto Serif', serif;*/
:root {
    --primary-color: #2d53fb;
    --text: #333333;
    --white: #F5F5F5;
    --sidebar-primary: #5d79f5;
    --sidebar-primary-light: #96a8f8;
    --sidebar-primary-hover: #605DFF10;
    --sidebar-background: #FCFCFD;
    --background: #F1F3FF;
    --text-link: #424662;
    --headline: #7686BC;
    --cta-background: #EBF3FF;
    --cta-background-darker: #CFD5FF;
    --cta-background-border: #CDD2F3;
    --cta-text: #1C2035;
    --neutral: #E6E8F0;
    --expand-button: #4A516D;
    --logout: #15c66e;
    --text: #303651;
    --text-lighter: #697089;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #C7D2DC;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#general_section {
    display: flex;
    background-color: var(--background);
    height: 100vh;
    max-height: 910px;
    min-height: 100vh
    
}

.sidebar {
    position: sticky;
    height: 100vh;
    max-height: 910px;
    border-radius: 16px;
    padding: 16px 0px;
    max-width: 18rem;
    display: flex;
    color: var(--white);
    flex-direction: column;
    background-color: var(--sidebar-background);
    transition: max-width 0.1s ease-in-out;
    z-index: 5;
}

body.collapsed .sidebar {
    max-width: 80px;
    display: flex;
    align-items: center;
}

body.collapsed .hide {
    position: absolute;
    display: none;
}

/*? sidebar top */
.sidebar-top-wrapper {
    display: flex;
    margin-top: 8px
}

.sidebar-top {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 64px;
}

body.collapsed .sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    color: var(--text-link);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.125rem;
    gap: 16px;
    padding: 0 16px;
}

.logo-small {
    height: 32px;
    width: 32px;
    overflow: hidden;
    object-fit: cover;
}


/*? menu links */
.sidebar-links {
    margin-top: 8px;
    width: 100%;
}

.sidebar-links h2 {
    margin-left: 16px;
    color: var(--headline);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
    animation: fadeIn 0.2s ease-in-out;
}

body.collapsed h2 {
    display: none;
}

.sidebar-links ul {
    list-style-type: none;
    position: relative;
    display: flex;
    column-gap: 8px;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.sidebar-links li {
    color: var(--text-link);
    font-size: 14px;
    margin-bottom: 4px;
}

body.collapsed .sidebar-links li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-links li svg {
    stroke: var(--text-link);
    width: 28px;
    height: 28px;
    min-width: 28px;
}

.sidebar-links li a:hover svg {
    color: var(--sidebar-primary);
}

.sidebar-links li a:hover {
    color: var(--sidebar-primary);
}

.sidebar-links li a {
    color: var(--text-link);
    flex-grow: 1;
    padding: 0 16px;
    font-size: 1.25rem;
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
    height: 46px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-links li a .link {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    animation: fadeIn 0.2s ease-in-out;
}

.sidebar-links li a img {
    height: 34px;
    width: 34px;
}

.sidebar-links .active:hover {
    background-color: var(--sidebar-primary-hover);
}

.sidebar-links .active {
    text-decoration: none;
    background-color: var(--sidebar-primary-hover);
    color: var(--text-link);
}

.sidebar-links .active svg {
    stroke: var(--text-link);
}

.sidebar-links li a:hover svg {
    stroke: var(--sidebar-primary);
    color: var(--sidebar-primary);
}

.sidebar-links li a:hover {
    color: var(--sidebar-primary);
}

/* ?tooltip */
.tooltip {
    position: relative;
}

.tooltip .tooltip__content::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: -10px;
    margin-top: -3px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent var(--cta-text) transparent transparent;
}

.tooltip .tooltip__content {
    visibility: hidden;
    background-color: var(--cta-text);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 6px 12px;
    position: absolute;
    z-index: 1;
    left: 90px;
}

.collapsed .tooltip:hover .tooltip__content {
    visibility: visible;
}

/* sidebar action */

.sidebar__action__wrapper {
    overflow-x: hidden;
    margin: 0 16px;
    margin-top: auto;
}

.sidebar__action {
    padding: 16px;
    background-color: var(--cta-background);
    border-radius: 16px;
    min-width: 16rem;
    color: var(--cta-text);
    animation: fadeIn 0.2s ease-in-out;
}

.sidebar__action p {
    margin-bottom: 12px;
    margin-top: 8px;
    color: var(--text)
}

.sidebar__action h2 {
    margin-bottom: 8px;
}

.sidebar__action button {
    border: 0px;
    margin-top: 8px;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    height: 42px;
    font-size: 18px;
    color: var(--neutral);
    border-radius: 12px;
    background: linear-gradient(90deg,
            var(--sidebar-primary) -0.38%,
            var(--sidebar-primary-light) 100.02%);
}

.sidebar__action .progress-bar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: larger;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background:
        radial-gradient(closest-side,
            var(--cta-background) 79%,
            transparent 80% 100%),
        conic-gradient(var(--sidebar-primary) 60%,
            var(--cta-background-darker) 0);
    margin-bottom: 16px;
}

body.collapsed .sidebar__action {
    display: none;
}

/*? profile part */
.sidebar__profile {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 9px;
    flex-direction: row;
    padding: 0 5px;
    color: var(--text-link);
    overflow-x: hidden;
    min-height: 42px;
}

.avatar__wrapper {
    position: relative;
    display: flex;
}

.avatar {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

.avatar__name {
    display: flex;
    flex-direction: column;
    gap: 4px;
    white-space: nowrap;
    animation: fadeIn 0.2s ease-in-out;
}

.user-name {
    font-weight: 600;
    text-align: left;
    color: var(--text);
    animation: fadeIn 0.2s ease-in-out;
}

.email {
    color: var(--text-lighter);
    font-size: 13px;
    animation: fadeIn 0.2s ease-in-out;
}

.Cerrar-sesion {
    animation: fadeIn 0.2s ease-in-out;
    margin-left: auto;
}

.Cerrar-sesion svg {
    color: var(--logout);
}

body.collapsed .Cerrar-sesion {
    display: none;
}

/*? Expand button */

.expand-btn {
    position: absolute;
    display: grid;
    place-items: center;
    cursor: pointer;
    right: -16px;
    border: 1px solid var(--cta-background-border);
    background-color: var(--background);
    z-index: 2;
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.expand-btn svg {
    transform: rotate(-180deg);
    stroke: var(--expand-button);
    width: 20px;
    height: 20px;
}

body.collapsed .expand-btn svg {
    transform: rotate(-360deg);
}

.bottom-links {
    margin-top: auto;
}

@keyframes fadeIn {
    from {
        width: 0px;
        opacity: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

/*? topbar */

#general_section .topbar{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 18rem);
    height: 60px;
    background-color:var(--logout);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    z-index: 4;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px ;
}
body.collapsed #general_section .topbar {
    width: calc(100vw - 80px); 
}
/*? search buscar */
.search__buscar {
    padding: 0 16px;
    position: relative;
}

.search__buscar input {
    background-color: var(--background);
    height: 40px;
    width: 100%;
    border-radius: 8px;
    padding: 0 8px;
    padding-left: 32px;
    flex-grow: 1;
    outline: none;
    border: none;
}

.search__buscar svg {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 26px;
    transform: translateY(-50%);
    pointer-events: none;
    right: 24px;
}

.search__buscar input::-webkit-input-placeholder {
    color: var(--text-link);
    white-space: nowrap;
}


/*.search__buscar {
    position: fixed;
    right: 16px; 
    display: flex;
    align-items: center;
}

.search__buscar input[type="search"] {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #697089;
    padding-left: 8px;
}
*/