/* Recursos import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/* Menu responsive */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Montserrat', sans-serif;
}

:root {
  --nav-bg: #000000b6;
  --main-clr: dodgerblue;
  --text: #333333;
  --background: #F5F5F5;
  --primary: #2d53fb;
  --secondary: #d4daf2;
  --accent: #15c66e;
}

header {
  width: 100%;
  height: 973px;
  z-index: -2;
  background: url(../img/jpg/background1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  box-shadow: var(--nav-shadow);
}

.filter {
  position: static;
  width: 100%;
  height: 100%;
  background: linear-gradient(107.32deg, #01093f80 0%, #36393f80 100%);
  z-index: -1;
}

nav a img {
  width: 45px;
  height: auto;
}

nav ul {
  --padding: 20px;
  --font-size: 17px;

  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  overflow-y: hidden;
  transition: 1s cubic-bezier(.68, -0.55, .27, 10.55);
  box-shadow: var(--nav-shadow);
  color: var(--text);
}

nav ul li {
  padding: var(--padding);
}

nav ul li a {
  color: var(--background);
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.7px;
  border-radius: 99px;
  background: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  width: 22px;
  height: 16px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
}

nav .menu span {
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: var(--background);
  transition: 0.3s ease;
  transform-origin: left;
}

nav .menu.active span {
  background: var(--main-clr);
}

nav .menu.active span:nth-child(1) {
  transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
  transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
  transform: scale(0);
}

@media (max-width: 4000px) {
  nav .menu {
    display: flex;
  }

  #menu {
    z-index: 99;
  }

  nav ul {
    --height: 0px;
    flex-direction: column;
    background: var(--nav-bg);
    position: absolute;
    width: 100%;
    left: 0;
    top: 56px;
    height: var(--height);
    transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
  }

  nav ul.active {
    --height: calc((((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber));
    /*   (Block Level Padding + The Font Size) * The Number of Children   */

    height: 100vh;
    top: 0;
    padding-top: 20%;
    z-index: 2;
    transition: 1s ease;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    width: 100%;
    font-size: 28px;
    text-transform: capitalize;
    transition: all 1s;
  }

  nav ul li a:hover {
    color: var(--accent);
    transition: all 1s;
  }
}

/*Estilos de división de información (título, descripción, entre otros)*/

.general_info {
  position: absolute;
  top: 150px;
  left: 150px;
  width: 500px;
  height: 480px;
}

.general_info img {
  width: 350px;
}

.general_info h2 {
  font-weight: 500;
  color: var(--background);
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.general_info p {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-weight: 300;
  padding: 18px 0px;
  color: var(--background);
  word-spacing: 8px;
  line-height: 25px;
  opacity: 0.8;
  font-size: 16px;
}
/* Estilo botones page */
.btn_register,
.btn_login {
  width: 160px;
  height: 55px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
  border-style: none;
  border-radius: 10px;
  font-weight: 500;
  margin: 10px 0px 10px 15px;
  float: left;
  transition: transform 0.5s, opacity 0.5s;
  transform: translateY(0);
  opacity: 1;
}

.btn_register,
.btn_login {
  color: var(--background);
  background-color: var(--primary);
}

.btn_register:hover,
.btn_login:hover {
  transform: translateY(-5px);
  opacity: 0.8;
}

/*Estructura de secciones*/
.structure_one {
  margin: 0px 10%;
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.structure_one .info_section,
.structure_one .illustration_section {
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0;
}

.structure_one .illustration_section {
  text-align: center;
  margin-top: 150px;
}

.info_section,
.illustration_section img {
  width: 70%;
  height: auto;
  align-self: center;
}

.illustration_section .marca_agua {
  width: 40%;
  position: relative;
  margin-left: 50%;
  height: auto;
  z-index: -99;
  margin-top: -80px;
}

.info_section .title {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  margin: 150px 0px 80px 0px;
  border-bottom: solid 2px var(--accent);
}

.info_section .title h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color:var(--primary);
}

.info_section p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: justify;
  font-size: 18px;
  word-spacing: 8px;
  line-height: 25px;
  color:var(--text);
}
/* Estilos de la nueva sección de columnas */
.section-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  margin-top: 9em;
  margin-bottom: 5em;
}
.section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
}
.section-card {
  width: calc(30% - 2em);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 2em;
  gap: 20px;
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 2em; 
  margin-bottom: 2em;
}
.section-card-img img {
  height: 5rem;
}
.section-card h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center; 
  color: var(--primary);
}
.section-card p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
  text-align: left;
}

/*Diseño del pie de pagina*/
footer {
  width: 100%;
  height: auto;
  background-color: var(--text);
  padding-bottom: 50px;
}

footer .logo {
  width: 100%;
  height: 200px;
  text-align: center;
}

footer .logo img {
  height: 100%;
  width: auto;
}

footer .contain-main-footer {
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .contact-regulatory-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

footer .contact,
footer .regulatory {
  width: 49%; 
  height: auto;
  padding: 0px 2.5%;
}

footer .contain-main-footer ul {
  list-style: none;
  padding-bottom: 20px;
}

footer .contain-main-footer li i {
  color: var(--secondary);
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
  font-size: 14px;
}

footer .contain-main-footer li {
  padding: 5px 20px 5px 20px;
}

footer .regulatory {
  border-right: none;
  border-left: 1px solid var(--accent); 
}

footer .copy-right {
  margin-top: 50px;
  width: 100%;
  height: 35px;
  background-color: var(--background);
  opacity: 0.87;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: var(--primary);  
}

footer .contain-main-footer h4 {
  color: var(--background);
  padding-bottom: 25px;
  font-weight: 500;
}

footer .contain-main-footer iframe {
  width: 90%;
  margin: 0px 5%;
  border: none;
  border-radius: 15px;
  height: 200px;
}

footer .social-media {
  width: 100%;
  margin: 0; 
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  flex-wrap: wrap;
}

footer .social-media i {
  margin-right: 2em; 
  font-size: 20px;
  color: var(--secondary);
}

/*ESTILOS DEL FORMULARIO*/
.modal-dialog {
  width: 70%;
  margin-top: 150px;
  background-color:var(--background);
  max-width: none;
  border-radius: 15px;
}

.modal .modal-title {
  font-size: 30px;
  color: var(--primary)!important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.modal label{
  font-family: 'Roboto', sans-serif; 
}
.modal-header {
  display: block;
  text-align: center !important;
}

.modal .close {
  margin-top: -60px;
}

@media (max-width: 1024px) {

  /*responsive header*/
  .general_info {
    left: 15%;
    width: 70%;
    height: auto;
    text-align: center;
  }

  .general_info h1 {
    font-size: 80px;
  }

  .general_info p {
    text-align: center;
  }

  .btn_register,
  .btn_login {
    float: none;
  }

  /*resposive sections*/
  .structure_one {
    margin: 0px 15%;
    width: 70%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .structure_one .info_section,
  .structure_one .illustration_section {
    width: 100%;
    height: 100%;
  }

  .info_section .title {
    margin: 80px 0px 40px 0px;
  }

  /*resposive footer*/

  footer .contain-main-footer {
    width: 70%;
    margin-left: 15%;
    display: block;
  }

  footer .contain-main-footer .contact,
  footer .contain-main-footer .regulatory,
  footer .contain-main-footer .location {
    width: 100%;
    height: auto;
    padding: 20px 2.5%;
    text-align: center;
  }

  footer .contain-main-footer .regulatory {
    border-right: none;
    border-left: none;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
  }

}


@media (max-width: 600px) {

  /*responsive header*/
  .general_info {
    top: 300px;
    left: 5%;
    width: 90%;
  }

  .general_info h1 {
    font-size: 70px;
  }


  /*resposive sections*/
  .structure_one {
    margin: 0px 5%;
    width: 90%;
    text-align: center;
  }

  .structure_one .illustration_section {
    margin-top: 40px;
  }

  .info_section p {
    text-align: center;
    color: #868686;
  }

  /*resposive footer*/
  footer .contain-main-footer {
    width: 90%;
    margin-left: 5%;
  }

  footer .copy-right {
    height: 30px;
    font-size: 10px;
  }
}